<div class="card h-100" *ngIf="messageStorage.selectedChat">
  <h3 class="card-header">
    <button (click)="historyStorage.navigateBack()">
      <img src="assets/img/arrow-left.png" height="24">
    </button>
    <span class="d-inline-block text-nowrap overflow-hidden"
      style="max-width: calc(100% - 150px);text-overflow: ellipsis">{{messageStorage.selectedChat.name}}</span>
  </h3>
  <div class="list-group" style="overflow-y: auto">
    <div class="list-group-item">
      <div style="width: 100px;height: 100px" class="fit-img mt-3 mx-auto">
        <img [src]="messageStorage.selectedChat.image" alt=" ">
      </div>
      <div class="text-center mt-3">
        <h4>{{messageStorage.selectedChat.name}}</h4>
      </div>
    </div>
    <div class="list-group-item">
      <span class="text-muted">Options</span>
      <ul class="list-group list-group-flush mt-1">
        <button class="d-flex justify-content-between p-1">
          <span>Search in conversation</span>
          <img src="assets/img/magnify.png" height="20">
        </button>
        <button class="d-flex justify-content-between p-1" (click)="openDialog()"
          *ngIf="messageStorage.selectedChat.isGroup">
          <span>Add user to chat</span>
          <img src="assets/img/account-plus.png" height="20">
        </button>
        <a [routerLink]="['../color']" class="d-flex justify-content-between p-1">
          <span>Change colors</span>
          <img src="assets/img/palette.png" height="20">
        </a>
      </ul>
    </div>
    <div class="list-group-item">
      <span class="text-muted">People</span>
      <ul class="list-group list-group-flush" *ngFor="let user of messageStorage.selectedChat.users">
        <button class="d-block p-1 text-left">
          <span>@{{user.username}}</span>
          <span *ngIf="user.moderator" class="text-muted ml-3">Moderator</span>
        </button>
      </ul>
    </div>
  </div>
</div>
