.card {
  border: 0 !important;
  border-radius: 0 !important;
}

.message-box {
  overflow-y: scroll;
  height: calc(100% - 145px) !important;
  max-height: calc(100% - 145px) !important;
}

.text-input {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: calc(100% - 80px);
  border: none;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  padding: 10px;
  font-size: 19px;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  bottom: -10px;
  max-height: 70px;
  height: 70px;
}

.card-footer {
  background-color: #303030;
  max-height: 80px;
  height: 80px;
  min-height: 50px;
  bottom: 0;
}
