<div class="row">
  <div class="col-1" style="min-width: 50px;">
    <div style="width: 46px;height: 46px" class="fit-img">
      <img [src]="API_URL + 'avatar/' + image" alt=" ">
    </div>
  </div>
  <div class="col" style="max-width: 90%;">
    <textarea class="post-input position-absolute" #postInput appPostTextarea style="color: transparent"
      [placeholder]="(repost ? 'How do you feel about this post' : replyId ? 'Reply to this post' : 'How was your day?')"></textarea>
    <div *ngIf="postInput.value.trim() === '' && submitted" class="text-danger">
      Text field can't be empty
    </div>
    <app-poll *ngIf="poll" [submittedEvent]="submittedEvent" (closeEvent)="poll = false" #appPoll></app-poll>
  </div>
</div>
<div class="row ml-2" *ngIf="images && images.length > 0">
  <div class="col-5 m-2 p-1" style="text-align: center; background-color: rgba(255, 255, 255, 0.1);"
    *ngFor="let image of images">
    <button class="position-absolute" style="right: 10px;" (click)="removeImage(image)">
      <img [src]="API_URL + 'img/close.png'">
    </button>
    <img [src]="image" class="rounded img-responsive w-100 h-100" style="object-fit: cover">
  </div>
</div>
<div class="row col pl-5 mb-4" *ngIf="video">
  <button class="position-absolute" style="right: 20px;" (click)="removeVideo()">
    <img [src]="API_URL + 'img/close.png'">
  </button>
  <video #vid controls class="w-100"></video>
</div>
<app-repost class="row" *ngIf="repost" [repost]="repost" [user]="user"></app-repost>
<div class="row">
  <div class="col-1 offset-1 mt-1">
    <label for="upload" [class]="(poll || images && images.length > 0 || video || repost ? '' : 'pointer')">
      <img [src]="API_URL + 'img/image-outline.png'" height="24">
      <input multiple type="file" id="upload" style="display:none" (change)="handleFileInput($event.target.files)"
        [disabled]="poll || images && images.length > 0 || video || repost">
    </label>
  </div>
  <div class="col-1 mt-1">
    <button (click)="openGifDialog()" [disabled]="poll || images && images.length > 0 || video || repost">
      <img [src]="API_URL + 'img/gif.png'" height="24">
    </button>
  </div>
  <div class="col-1 mt-1">
    <button (click)="openPoll()" [disabled]="poll || images && images.length > 0 || video || repost">
      <img [src]="API_URL + 'img/poll-box-outline.png'" height="24">
    </button>
  </div>
  <div class="col-1 mt-1">
    <button (click)="emojiToggle = !emojiToggle" [(emojiPickerIf)]="emojiToggle" [emojiPickerDirection]="'bottom'"
      (emojiPickerSelect)="handleSelection($event)">
      <img [src]="API_URL + 'img/sticker-emoji.png'" height="24">
    </button>
  </div>
  <div class="col-4 offset-3 text-right">
    <mat-progress-spinner mode="determinate" [value]="postInput.value.length / 2.5"
      [color]="postInput.value.length > 200 ? 'warn' : 'accent'" diameter="30"
      style="margin-left: 60px;margin-bottom: -35px;">
    </mat-progress-spinner>
    <button class="ml-2 btn btn-info" (click)="sendPost()">Tweet</button>
  </div>
</div>
