<div *ngIf="post" class="p-2">
  <div class="row">
    <div class="col-1" style="min-width: 50px;">
      <div style="width: 46px;height: 46px" class="fit-img">
        <img [src]="API_URL + 'avatar/' + post.user.image" alt=" ">
      </div>
    </div>
    <div class="col">
      <div>
        <b class="tooltips">{{post.user.displayName}}</b>
        <label class="m-0 text-muted">
          <small class="ml-1">@{{post.user.username}}</small>
          <span class="ml-1">·</span>
          <small data-toggle="tooltip" data-placement="top" [title]="post.postedOn" class="ml-1" appTime
            [date]="post.postedOn"></small>
        </label>
      </div>
      <p>
        <app-post-content [content]="post.content"></app-post-content>
      </p>
    </div>
  </div>
</div>
<p>Reply to @{{post.user.username}}</p>
<app-post-form [replyId]="post.id"></app-post-form>
